<h2>Chọn server</h2>
<form action="/admin" method="POST">
    <select name="machinhanh" id="machinhanh" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected value="tt">Trung Tâm</option>
        <option value="sg">Sài Gòn</option>
        <option value="dn">Đà Nẵng</option>
        <option value="hn">Hà Nội</option>
    </select>
    <button type="submit">chọn</button>
</form>
